# Importando libreria

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

### Se tiene un dataset de películas obtenidas de IMDB (Internet Movie Database), el cual contiene información como título, año de estreno, director, ratings, puntuaciones y otras columnas. Se solicita:

In [24]:
databasePelis = pd.read_csv('assets/data/datanueva.csv', index_col='ID')
databasePelis.head()

,Series_Title,Poster_Link,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
ID,,,,,,,,,,,,,,,,
1,The Shawshank Redemption,https://m.media-amazon.com/images/M/MV5BMDFkYT...,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
2,The Godfather,https://m.media-amazon.com/images/M/MV5BM2MyNj...,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
3,The Dark Knight,https://m.media-amazon.com/images/M/MV5BMTMxNT...,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
4,The Godfather: Part II,https://m.media-amazon.com/images/M/MV5BMWMwMG...,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
5,12 Angry Men,https://m.media-amazon.com/images/M/MV5BMWU4N2...,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"

#### A. Mostrar la cantidad de filas nulas de las columnas ‘Certificate’ y ‘Meta_score’

In [3]:
columnas = ['Certificate', 'Meta_score']
valores_nulos = databasePelis[columnas].isnull().sum()
print(f"Cantidad de filas nulas en las columnas: \n {valores_nulos}")

Cantidad de filas nulas en las columnas:
 Certificate    101
Meta_score     157
dtype: int64

#### B. Eliminar las filas nulas de las columnas anteriormente nombradas

In [4]:
data_sin_nulos = databasePelis[columnas].dropna()
data_sin_nulos.info()

<class 'pandas.core.frame.DataFrame'>
Index: 787 entries, 1 to 998
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Certificate  787 non-null    object
 1   Meta_score   787 non-null    float64
dtypes: float64(1), object(1)
memory usage: 18.4+ KB

#### C. Obtener el promedio de los 10 primeros Directores desde la columna ‘Meta_score’ (Puntuación de la Película).

In [5]:
pro_direc = ['Meta_score']
promedio = databasePelis[pro_direc].head(10).mean()
promedio

Meta_score    87.2
dtype: float64

#### D. Aplicar un filtro utilizando una función que muestre solamente las películas del género de Guerra (War) generando un nuevo dataframe con las columnas: ID, Series_Title, IMDB_Rating y Meta_score. Exportar y guardar este nuevo dataset con la función correspondiente de pandas.

In [6]:
def filtro(genres):
    return 'War' in genres

columnas_mostrar = ['ID', 'Series_Title', 'IMDB_Rating', 'Meta_score']
Gen_war = databasePelis[databasePelis['Genre'].apply(filtro)]

In [7]:
Gen_war[['Series_Title', 'IMDB_Rating', 'Meta_score']].head(15)

                 Series_Title  IMDB_Rating  Meta_score
ID
25        Saving Private Ryan          8.6        91.0
47             Hotaru no haka          8.5        94.0
51                 Casablanca          8.5       100.0
75             Apocalypse Now          8.4        94.0
81             Paths of Glory          8.4        90.0
84         The Great Dictator          8.4         NaN
85                       1917          8.3        78.0
91                  Incendies          8.3        80.0
94       Inglourious Basterds          8.3        69.0
105         Full Metal Jacket          8.3        76.0
106              Idi i smotri          8.3         NaN
130  Uri: The Surgical Strike          8.2         NaN
139               Mandariinid          8.2        73.0
151           Pan's Labyrinth          8.2        98.0
173                       Ran          8.2        96.0

#### E. Crear en un gráfico de barra, donde compare la puntuación del IMDB_Rating y Meta_score de las primeras 10 películas del género de guerra.